# LOOPING

In [5]:
world = ["humans","animals","birds",]

In [6]:
for earth in world:
    print(earth)

humans
animals
birds

# print odd and even number

In [12]:
numr = [22,44,66,99]

In [14]:
for num in numr:
    if num%2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

22 is even
44 is even
66 is even
99 is odd

In [26]:
for _ in 'd':
    print("viknesh raj")

viknesh raj

In [28]:
NET = [(90,80),(70,60),(50,40),(30,20)]

In [29]:
for item in NET:
    print(item)

(90, 80)
(70, 60)
(50, 40)
(30, 20)

In [30]:
for a,b in NET:
    print(a)
    print(b)

90
80
70
60
50
40
30
20

In [36]:
positive = {1:"good morning",2:"good afternoon",3: "good afternoon"}

In [39]:
for item in positive:
    print(item)

1
2
3

In [43]:
for item in positive.items():
    print(item)

(1, 'good morning')
(2, 'good afternoon')
(3, 'good afternoon')

# whileloop

In [56]:
n = input("enther a number ")
val = 0
i = 0
while i <= int(n):
    val += i
    i += 1000
print (f"the sum is {val}")

enther a number 10000
the sum is 55000

In [1]:
counter = 0 
while counter <3:
    print("inside loop")
    counter = counter +22
else:
    print ("inside else")

inside loop
inside else

In [2]:
digits = [0,1,2]
for i in digits:
    print(i)
else:
    print("no items left ")

0
1
2
no items left

In [4]:
count = 0
while True:
    print(count)
    count+= 1
    if count >=5:
        break

0
1
2
3
4