# understanding class syntax

In [ ]:
class <school_name>:
    
    def __init__(self,<parameter>):

In [24]:
class stud:
    def __init__(self,name,age,employed,college):
        self.name = name
        self.age = age
        self.employed = employed
        self.education = college     
    def descp(self):
        print(f"the name of the student is: {self.name}.")
        print(f"{self.name} is {self.age} years old.")
        print(f"{self.name} is currently employed : {self.employed}.")
        print(f"{self.name} is a alma mater of {self.education}.")
        
    def emp_status(self):
        start_check = input("are you currently emplyed? : ")
        if start_check =='y':
            self.employed = 'yes'
            self.employed = input("where are you employed")
            self.salary = int(input("please enter your salary"))
            
        else:
            
            self.employed = 'yes'
            
        def emp_disp(self):
            print(f" {self.name} is employed by: {self.employed}.")
            print(f" {self.name} draws {self.salary} pre annum.")

In [25]:
<object_name> = <class_name>(<initialization value>)

SyntaxError: invalid syntax (1126279138.py, line 1)

In [26]:
coll = stud("kanishkan",30,"yes","skasc")

In [27]:
coll.descp()

the name of the student is: kanishkan.
kanishkan is 30 years old.
kanishkan is currently employed : yes.
kanishkan is a alma mater of skasc.

In [28]:
coll.emp_status()

are you currently emplyed? : y
where are you employedp
please enter your salary1000

In [29]:
display_emp()

NameError: name 'display_emp' is not defined

In [30]:
coll.display_emp()

AttributeError: 'stud' object has no attribute 'display_emp'

# inheritance

In [12]:
class person:
    
    def __init__(self,fname,lname,year,age,IDnumb):
        self.fname = fname
        self.lname = lname
        self.DOByear = year
        self.age = age
        self.ID = IDnumb
        
    def disp(self):
        print(self.fname, self.lname)
        print(self.DOByear)
        print(self.age)
        print(self.ID)

In [13]:
class student(person):
    
    def __init__(self,fname,lname,year,age,IDnumb,college,year_study):
        super().__init__(fname,lname,year,age,IDnumb)
        self.college = college
        self.year = year_study
        
    def stud_disp(self):
        print(f"{self.fname} studies in {self.college} and is in the year{self.year}.")

In [14]:
stud1 = student("Mike","Tyson",2002,18,123654,"XYZ",1)

In [15]:
stud1.disp()

Mike Tyson
2002
18
123654

In [16]:
stud1.stud_disp()

Mike studies in XYZ and is in the year1.